.idea/*
.env.local
.nyc_output
build
node_modules
test
src/**.js
coverage
*.log
package-lock.json
/supabase/.temp/
/scripts/csv-chunks/
/scripts/csv-chunks-small/
/scripts/archive/
/scripts/
/test-results/
